* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #261461;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #b3b3ff;
    margin-bottom: 15px;
}

h2 {
    color: white;
}

label {
    font-size: 0.85rem;
}

#text {
    height: 100%;
    width: 150px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: #fff7ed;
    padding: 0 3px;
}

.top-text-container {
    margin: 25px auto;
    width: var(--containers-wdt);
    text-align: center;
}

.form-container {
    width: var(--containers-wdt);
    /* height: 300px; */
    background-color: white;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}

.form-primary {
    padding: 20px;
    width: 80%;
}

.inputs {
    width: 180px;
}

.btn-reset {
    padding: 0 3px 2px 3px;
    background-color: unset;
    border-radius: 3px;
    border: 1px solid grey;
    cursor: pointer;
}

.btn-reset:hover {
    background-color: #ffcfcf;
}

.btn-refresh {
    padding: 0 6px 2px 6px;
    background-color: unset;
    border-radius: 3px;
    border: 1px solid grey;
    cursor: pointer;
}

.btn-refresh:hover {
    background-color: #d1cfff;
}

.user-choice {
    padding-bottom: 20px;
}

.choice {
    font-size: 2rem;
    color: #f1617e;
}